.ProfileContainer{

    background-color: rgb(235, 238, 242);
   /* height: 100vh; */
}
.subProfileContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}